.carousel .control-arrow,
.carousel .control-next,
.carousel .control-prev {
  background-color: rgba(0, 0, 0, 0.5);
  width: 60px;
  transition: background-color 0.3s ease;
}

.carousel .control-arrow:hover,
.carousel .control-next:hover,
.carousel .control-prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel .dot {
  background: #e6e6e6;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  transition: background 0.3s ease;
}

.carousel .dot.selected {
  background: white;
}

/* Modifique os estilos padrão do slick-carousel */
.slick-prev:before, .slick-next:before {
  color: white; /* Cor personalizada para os botões de navegação */
}

/* Estilo para os pontos de navegação */
.slick-dots li button:before {
  color: #ff6600; /* Cor dos pontos inativos */
}

.slick-dots li.slick-active button:before {
  color: #ff6600; /* Cor dos pontos ativos */
}

/* Adicione estilos personalizados ao container do carrossel */
.custom-carousel .slick-slide {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.custom-carousel .slick-slide:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}
